@font-face{
    font-family : 'noto-light';
    src: url('../fonts/NotoSans-Light.eot');
    src: url('../fonts/NotoSans-Light.eot') format('embedded-opentype'),
         url('../fonts/NotoSans-Light.woff2') format('woff2');
}
@font-face{
    font-family : 'noto-regular';
    src: url('../fonts/NotoSans-Regular.eot');
    src: url('../fonts/NotoSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/NotoSans-Regular.woff2') format('woff2');
}
@font-face{
    font-family : 'noto-medium';
    src: url('../fonts/NotoSans-Medium.eot');
    src: url('../fonts/NotoSans-Medium.eot') format('embedded-opentype'),
         url('../fonts/NotoSans-Medium.woff2') format('woff2');
}
@font-face{
    font-family : 'noto-bold';
    src: url('../fonts/NotoSans-Bold.eot');
    src: url('../fonts/NotoSans-Bold.eot') format('embedded-opentype'),
         url('../fonts/NotoSans-Bold.woff2') format('woff2');
}