$mainColor : #003762;
$subColor : #D8E4EB;
$basicColor : #ffffff;
$bgBlue : #CDDEE6;
$hoverColor : #00233E;

$textColor : #3E3E3E;
$footerText : #BABABA;

$laptop : 1024px;
$mobileH : 768px;
$mobileV : 490px;

$light : 'noto-light', sans-serif;
$regular : 'noto-regular', sans-serif;
$medium : 'noto-medium', sans-serif;
$bold : 'noto-bold', sans-serif;